<!-- Site Footer -->
<footer class="site-footer" id="footer">
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-md-push-3 footer-info text-center">

        <div class="footer-logo">
          <a href="{{ site.baseurl }}/index.html"><img src="{{ site.baseurl }}/images/logo.svg" width="150"
            alt="Xibbon logo"></a>
        </div>

        <div class="footer-info-text">
          <p>{{ site.footer-description }}</p>
        </div>

      </div>

      <div class="col-md-8 col-md-push-2 footer-copyright">
        <div class="footer-text text-center">
          <p></p>
          <p> &copy; Copyright  {{site.footer-copyright-year }} <a href="{{ site.footer-copyright-url }}">{{ site.footer-copyright-text }}</a> All Right Reserved</p>
        </div>
      </div>
    </div>

  </div>
</footer>

<!-- Go To Top Button -->
<a href="#home" class="go-to-top-button"><i class="pe-7s-angle-up"></i></a>
