<!-- About Widget -->
<div class="widget about-widget">

  <!-- Widget Header -->
  <header class="widget-header">
    <h4 class="widget-title">Author</h4>
  </header>

  <!-- Widget Content -->
  <div class="widget-content">

    <div class="row">
      <div class="col-sm-6">
        <img src="{{ site.baseurl }}/images/avatars/miguel.jpg" alt="Miguel de Icaza">
        
      </div>
      <div class="col-sm-6">
        <div class="info clearfix">
          <h5 style="font-size: medium" class="author-name">Miguel de Icaza</h4>
          <div class="social-icons">
        </div>
          <hr class="medium">
        </div>
      </div>
    </div>

  </div>

</div>
